@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InterDisplay";
  font-weight: 600;
  src: url(../assets/fonts/InterDisplay-SemiBold.woff2);
}

@layer base {
  :root {
    --text: 0 1% 13%;
    --muted: 0 0% 55%;
    --background: 120 4% 95%;
    --background-light: 0 0% 98%;
    --background-bright: 0 0% 100%;
    --primary: 259 71% 64%;
    --secondary: 259 35% 82%;
    --accent: 261 42% 27%;
  }
  .dark {
    --text: 0 0% 83%;
    --muted: 0 0% 55%;
    --background: 120 4% 5%;
    --background-light: 0 0% 7%;
    --background-bright: 0 0% 10%;
    --primary: 259 71% 36%;
    --secondary: 259 35% 18%;
    --accent: 261 42% 73%;
  }
}

canvas {
  margin: 0 auto;
  cursor: grab;
}